/* CSS RESET [Start] */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* CSS RESET [End] */
html,
body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
    min-width: 200px;
}

main {
    margin: 0px 5vmin;
    padding: 25px;
    flex: 1 0 auto;
    /* flex: row; */
    max-width: 90vw;
    min-width: 400px;
}

h5 {
    margin: 10px 0;
}

/*Post Classes*/
#mainContent {
    display: flex;
    flex-direction: row;
    margin: 0 2vmin;
    width: 100%;
}
.postContent {
    width: 70%;
}

#postSideBar{
    margin-left: 40px;
}

.sidebarContent {
    width: 25%;
}





/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro>h1 {
    color: #212121;
    font-size: 10vmin;
    font-family: var(--fontHeader);
}

.intro>h2 {
    color: #757575;
    font-size: 4vmin;
    font-family: var(--fontDescription);
}

.intro>.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link,
a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/
#allListItems {
    display: flex;
    flex-direction: row;
    text-align: left;
}

#listItem {
    display: flex;
    flex-direction: column;
    float: left;
}

.item {
    float: left;
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}


/* Media Queries */
@media only screen and (max-width: 768px) {

/*     #mainContent {
        display: flex;
        flex-direction: row;
        margin: 0 2vmin;
    } */
.postContent {
    width: 95%;
}
#postSideBar{
    display: none;
}

.sidebarContent {

}

}