  /*-------------------------Ids and Important----------------------*/
  
  .dimensions {
      width: 100%;
      height: 100vh;
      /*margin-bottom: 10px;*/
  }
  
  #main {
      z-index: 10;
      position: relative;
      background-color: #cf4646;
      /*font-family: 'Montserrat', sans-serif;*/
      /*background-color: #3B0B0B;*/
  }
  /*---------------Animations-----------------------*/
  
  @-webkit-keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  /*---------------Animations End------------------------*/
  /*    #logo {
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 2s;
        animation-name: fadeIn;
        animation-duration: 2s;
    }*/
  
  div img {
      width: 48%;
      height: auto;
  }
  /*--------------First DIV STYLE SHEET-------------------*/
  
  #navigationBar {
      padding-top: 25px;
      -webkit-animation-name: fadeIn;
      -webkit-animation-duration: 3s;
  }
  
  #descri {
      /*background-color: #b62f2f;*/
      display: none;
  }
  
  #social {
      display: inline-block;
      padding-top: 10px;
  }
  
  #dream,
  #design,
  #develop,
  #fbColor,
  #twColor,
  #inColor {
      display: none;
      font-family: 'Pacifico', cursive;
      color: #2E2E2E;
  }
  
  .navBarProperties {
      font-size: 1.3em;
      margin-top: 10px;
      text-decoration: none;
      color: #CfCfCf;
  }
  
  #navigationBar button {
      background-color: transparent;
      /* border: 1px solid transparent;*/
  }
  
  #navigationBar a:hover {
      /*color: #2E2E2E;*/
      /*border: 1px dotted white;*/
      text-shadow: 0px 0px 16px white;
  }
  
  .navBarLinkProperties a {
      font-size: 1.25em;
      text-decoration: none;
      color: white;
  }
  
  .descriptionProperties {
      font-size: 3.2vw;
      font-weight: bold;
      white-space: nowrap;
      color: white;
  }
  
  .centeralign {
      display: block;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
  }
  
  .paddingLogo {
      padding-top: 30vh;
      padding-bottom: 70vh;
  }

  #social #btndiv a {
      display: inline;
      margin: auto;
      padding-top: 15px;
  }

  #social .btn {
      /*    width: 12vw;*/
      font-size: 1.2vw;
  }
  /*--------------First DIV STYLE SHEET END-------------------*/
  /*--------------SECOND DIV STYLE SHEET-------------------*/
  
  #second {
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-family: 'Montserrat', sans-serif;
      border-top: 10px solid #FE642E;
      ;
      background-color: #d8d8d8;
      /*//orange:*/
  }
  
  .tablesecondMain {
      top: 0;
      left: 0;
      width: 100%;
      height: 50vh;
      /*#0B4C5F*/
      /*background-color: #0b614b;*/
      background-color: #d8d8d8;
  }
  
  .tablesecondMain1 {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50vh;
      background-color: #d8d8d8;
  }
  
  .tablesecond {
      display: block;
      float: left;
      width: 50%;
      height: 100%;
      border: 0 solid green;
  }
  
  .toplayerText {
      width: 95%;
      padding-top: 15px;
      /*font-size: 18px;*/
      font-size: 2.5vh;
      padding-left: 20px;
      color: #424242;
      text-align: left;
  }

  .whitecolor {
      color: white;
  }
  
  .blackcolor {
      color: black;
  }
  
  .graycolor {}
  
  #second h2 {
      font-family: 'Pacifico', cursive;
      color: black;
  }
  /*.tablesecondMain1{border-top:10px solid #0B614B;}*/
  /*--------------SECOND DIV STYLE SHEET END-------------------*/
  /*--------------THIRD DIV STYLE SHEET START-------------------*/
  
  #third {
      display: inline-block;
      /*position: static;*/
      position: relative;
      z-index: 10;
      width: 100%;
      height: 107vh;
      border-spacing: 0px;
      background-color: #0B614B;
      font-family: 'Montserrat', sans-serif;
      /*border-top: 10px solid orange;*/
  }
  
  .thirdheader {
      font-family: 'Pacifico', cursive;
      color: white;
  }

  #tumblr {
      display: inline-block;
      height: 80vh;
      background-color: black;
      overflow: auto;
  }

  #tumblr img {
      border: 1px solid black;
      width: 200px;
      height: 200px;
  }
  /*--------------THIRD DIV STYLE SHEET END-------------------*/
  /*--------------THIRDONE DIV STYLE SHEET Start-------------------*/

  #thirdone {
      margin-top: 107vh;
      display: block;
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100vh;
      border-spacing: 0px;
      background-color: black;
      font-family: 'Montserrat', sans-serif;
  }
  /*--------------THIRDONE DIV STYLE SHEET END-------------------*/
  /*--------------Fourth DIV STYLE SHEET START-------------------*/
  
  #fourth {
      /*vertical-align: top;*/
      outline: 0px;
      position: relative;
      z-index: 1;
      top: 0;
      right: 0;
      /*    bottom: 0;
*/
      left: 0;
      width: 100%;
      height: 90vh;
      /*margin-top: 0.5px;*/
      background-color: #8A2908;
      /*background-color: #d8d8d8; */
  }
  /*--------------Fourth DIV STYLE SHEET End-------------------*/
  /*--------------Fifth DIV STYLE SHEET START-------------------*/
  
  #fifth {
      position: fixed;
      z-index: 2;
      display: none;
      top: 45vh;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #6E6E6E;
  }
  /*--------------Fifth DIV STYLE SHEET END-------------------*/
  /*--------------SIXTH DIV STYLE SHEET START-------------------*/
  
  #sixth {
      position: relative;
      z-index: 3;
      /*display: none;*/
      /*top: 90vh;*/
      height: 10vh;
      width: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      /*margin-top:80vh;*/
      background-color: #151515;
  }
  
  #sixth a {
      color: white;
  }
  
  .copyrightText {
      text-align: right;
      font-size: 1em;
      color: #D8D8D8;
      padding: 2%;
      font-family: 'Montserrat', sans-serif;
  }
  /*--------------SIXTH DIV STYLE SHEET END-------------------*/

  .btnDimension {}

  #btndiv img {
      width: 4vw;
      height: 4vw;
  }

  #btndiv {
      width: 445px;
      height: 100px;
      margin: auto;
      display: inline;
  }

  #tPhotos {
      overflow: auto;
  }

#centerQuote {
    height: 100vh;
    width:100vw;
    padding-top: 30vh;
    display: block;
    font-size: 4vw;
}
